 
      #para1 {

        text-align: right;

        color:red;

        font-family:Verdana
      }

       #para2 {

      text-align: right;

      color:white;

      float:right;

      Font: size 15px;
      }

      #para4 {
        Float:bottom;
         
        Float:right;
      }

      #para3 {

        color:white
         }

      body  {

        background-color: rgb(45, 134, 189);

      }

html { 
  box-sizing: border-box; 
  margin: 0; 
  padding: 0; }

/* Hier komt de nav */
.nav {
  font-family: Arial, sans-serif;
  background: #333;
  padding: 10 px;
}

/* Top-level item */
.nav ul {
  list-style: none;
  display: inline-block;
  position: relative;
}

.nav > ul > li {
  position: relative;       
  display: inline-block;
  margin-right: 1 rem;
}

/* Opmaak top level link */
.nav a {
  color: #fff;
  text-decoration: none;
  padding: 8 px 12 px;
  display: inline-block;
}

/* Submenu */
.nav ul ul {
  display: none;             /* Altijd verbergen */
  position: absolute;
  left: 0;
  top: 100;                 /* Plek onder bovenstaande */
  background: #fff;
  border: 1 px solid #ccc;
  min-width: 180 px;
  z-index: 100;
}

/* Submenu links */
.nav ul ul li a {
  color: #333;
  padding: 8 px 12 px;
  display: block;
}

/* Laat de onder niveau alleen zien als de cursor erop staat */
.nav > ul > li:hover > ul {
  display: block;
}

/* Hover states */
.nav ul ul li a:hover {
  background: #f2f2f2;
}
